@(messages: List[Message], lastIdMessage: Long)


@main("Welcome to Twit'Comet") {

	<pre id="debug"><strong>Debug</strong>
	Dernier ID : <span id="lastId">@lastIdMessage</span>
	</pre>

	<div id="timeline">
		@for(message <- messages) {
				<p class="txt">@message.text</p>
				@if(message.reference != null) {
				}
				<p class="info">Par <a href="#">@message.author.login</a> le <a href="#" class="date">@message.getDateFr()</a></p>
			</div>
			@wall.message(message)
		}
	</div>
	
	<script>var lastId = @lastIdMessage</script>

}