@(title: String)(content: Html)(implicit session: play.mvc.Http.Session, flash: play.mvc.Http.Flash)

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Twit'comet, par Julien Lafont</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    @slots.header()
    
  </head>

  <body>

	@slots.menu()

    <div id="main" class="container">
		@content
    </div>

    @slots.footer()
   	@slots.status()

    <iframe class="hide" src="@routes.LiveWall.index.unique"></iframe>
    
  </body>
</html>
